#terminal-container { position: relative; background: #1a1a1a;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}

#terminal, #term-command { background: transparent; border: none; color: #fff; font-family: monospace, sans-serif; margin: 0; 
    border-radius: none;    
}

#terminal pre { border: none; box-shadow: none; background: none; margin: 0; padding: 0 12px; }
.output-command { font-weight: bold; color: #7474e3; }
.output-data { padding-bottom: 20px; }

#term-command { padding: 5px 0 5px 37px; }

#term-command-icon { position: absolute; color: #fff; font-family: monospace, sans-serif; margin: -19px 0 0 14px; }

#terminal:focus, #term-command:focus { border: none; outline: none; }

#terminal { height: 400px; line-height: 140%; overflow: scroll; }

#term-command, #term-command:focus { border-top: 1px dashed #666; }