@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-webfont.eot');
    src: url('../fonts/ubuntu-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-webfont.woff') format('woff'),
         url('../fonts/ubuntu-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Icons';
    src: url('../fonts/entypo-webfont.eot');
    src: url('../fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-webfont.woff') format('woff'),
         url('../fonts/entypo-webfont.ttf') format('truetype'),
         url('../fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}