# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,php}]
charset = utf-8
indent_style = space
indent_size = 4

# 4 space indentation
[*.min.js]
indent_style = space
indent_size = 0


# Matches the exact files either package.json or .travis.yml
[{composer.json,.travis.yml,build.xml}]
indent_style = space
indent_size = 2