*~
*\#
*.swp
config.php
data/*
!data/.htaccess
!data/README.md
workspace/*
!workspace/README.md
!plugins/*
!plugins/README.md
!themes/*
!themes/codiad/
!themes/atheos/
!themes/README.md
.project
.buildpath
.settings/
.svn/
vendor/
composer.lock
