*~
*\#
*.swp
# Server
.ht*

# OS or Editor folders
._*
.DS_Store
Thumbs.db

# Codiad user spe.
config.php
data/
workspace/
# plugins/*
!plugins/README.md
themes/*
!themes/default/
!themes/README.md
.project
.buildpath
.settings/
.svn/
vendor/
composer.lock
