@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src        : url('fonts/ubuntu-webfont.eot');
  src        : url('fonts/ubuntu-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ubuntu-webfont.woff') format('woff'), url('fonts/ubuntu-webfont.ttf') format('truetype'), url('fonts/ubuntu-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'entypo';
  src        : url('fonts/entypo.eot');
  src        : url('fonts/entypo.eot?#iefix') format('embedded-opentype'), url('fonts/entypo.woff') format('woff'), url('fonts/entypo.ttf') format('truetype'), url('fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style : normal;
}
/* Firefox workaround */
@-moz-document url-prefix() {
  @font-face {
    font-family: 'entypo';
    src        : url('fonts/entypo.eot');
    src        : url('fonts/entypo.eot?#iefix') format('embedded-opentype'), url('fonts/entypo.woff') format('woff'), url('fonts/entypo.ttf') format('truetype'), url('fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style : normal;
  }
}

#tree-search.icon-search {
  display: none !important;
}

.icon-note:before {
  content    : '\f001';
  font-weight: 900;
}

.icon-note-beamed:before {
  content    : '\f001';
  font-weight: 900;
}

.icon-music:before {
  content    : '\f025';
  font-weight: 900;
}

.icon-search:before {
  content    : '\f002';
  font-weight: 900;
}

.icon-flashlight:before {
  content    : '\f0eb';
  font-weight: 900;
}

.icon-key:before {
  content    : '\f084';
  font-weight: 900;
}

.icon-mail:before {
  content    : '\f0e0';
  font-weight: 900;
}

.icon-heart:before {
  content    : '\f004';
  font-weight: 900;
}
// .icon-heart-empty:before { content: "\2661"; font-weight: 900; }

.icon-star:before {
  content    : '\f005';
  font-weight: 900;
}
// .icon-star-empty:before { content: "\2606"; font-weight: 900; }

.icon-user:before {
  content    : '\f007';
  font-weight: 900;
}

.icon-users:before {
  content    : '\f0c0';
  font-weight: 900;
}

.icon-user-add:before {
  content    : '\f234';
  font-weight: 900;
}

.icon-user-minus:before {
  content    : '\f503';
  font-weight: 900;
}

.icon-video:before {
  content    : '\f03d';
  font-weight: 900;
}

.icon-picture:before {
  content    : '\f03e';
  font-weight: 900;
}

.icon-camera:before {
  content    : '\f030';
  font-weight: 900;
}

.icon-layout:before {
  content    : '\f0db';
  font-weight: 900;
}
// .icon-layout:before { content: "\f009"; font-weight: 900; }

.icon-menu:before {
  content    : '\f0c9';
  font-weight: 900;
}

.icon-check:before {
  content    : '\f058';
  font-weight: 900;
}

.icon-cancel:before {
  content    : '\f00d';
  font-weight: 900;
}

.icon-cancel-circled:before {
  content    : '\f057';
  font-weight: 900;
}

.icon-cancel-squared:before {
  content    : '\274e';
  font-weight: 900;
}

.icon-plus:before {
  content    : '\f067';
  font-weight: 900;
}

.icon-plus-circled:before {
  content    : '\f055';
  font-weight: 900;
}

.icon-plus-squared:before {
  content    : '\f0fe';
  font-weight: 900;
}

.icon-minus:before {
  content    : '\f068';
  font-weight: 900;
}

.icon-minus-circled:before {
  content    : '\f056';
  font-weight: 900;
}

.icon-minus-squared:before {
  content    : '\f146';
  font-weight: 900;
}

.icon-help:before {
  content    : '\f128';
  font-weight: 900;
}

.icon-help-circled:before {
  content    : '\f059';
  font-weight: 900;
}

.icon-info:before {
  content    : '\f129';
  font-weight: 900;
}

.icon-info-circled:before {
  content    : '\f05a';
  font-weight: 900;
}

.icon-back:before {
  content    : '\f0e2';
  font-weight: 900;
}

.icon-home:before {
  content    : '\f015';
  font-weight: 900;
}

.icon-link:before {
  content    : '\f0c1';
  font-weight: 900;
}

.icon-attach:before {
  content    : '\f0c6';
  font-weight: 900;
}

.icon-lock:before {
  content    : '\f023';
  font-weight: 900;
}

.icon-lock-open:before {
  content    : '\f09c';
  font-weight: 900;
}

.icon-eye:before {
  content    : '\f06e';
  font-weight: 900;
}

.icon-eye-slash:before {
  content    : '\f070';
  font-weight: 900;
}

.icon-tag:before {
  content    : '\f02b';
  font-weight: 900;
}

.icon-tags:before {
  content    : '\f02c';
  font-weight: 900;
}

.icon-bookmark:before {
  content    : '\f02e';
  font-weight: 900;
}
// .icon-bookmarks:before { content: "\1f4d1"; font-weight: 900; }

.icon-flag:before {
  content    : '\f024';
  font-weight: 900;
}

.icon-thumbs-up:before {
  content    : '\f164';
  font-weight: 900;
}

.icon-thumbs-down:before {
  content    : '\f165';
  font-weight: 900;
}

.icon-download:before {
  content    : '\f019';
  font-weight: 900;
}

.icon-download-cloud:before {
  content    : '\f381';
  font-weight: 900;
}

.icon-upload:before {
  content    : '\f093';
  font-weight: 900;
}

.icon-upload-cloud:before {
  content    : '\f382';
  font-weight: 900;
}

.icon-reply:before {
  content    : '\f3e5';
  font-weight: 900;
}

.icon-reply-all:before {
  content    : '\f122';
  font-weight: 900;
}

.icon-forward:before {
  content    : '\f064';
  font-weight: 900;
}

.icon-quote-left:before {
  content    : '\f10d';
  font-weight: 900;
}

.icon-quote-right:before {
  content    : '\f10e';
  font-weight: 900;
}

.icon-code:before {
  content    : '\f121';
  font-weight: 900;
}

.icon-export:before {
  content    : '\f56e';
  font-weight: 900;
}

.icon-import:before {
  content    : '\f56f';
  font-weight: 900;
}

.icon-pencil:before {
  content    : '\f304';
  font-weight: 900;
}

.icon-feather:before {
  content    : '\f56b';
  font-weight: 900;
}

.icon-print:before {
  content    : '\f02f';
  font-weight: 900;
}

.icon-retweet:before {
  content    : '\f079';
  font-weight: 900;
}

.icon-keyboard:before {
  content    : '\f11c';
  font-weight: 900;
}

.icon-comment:before {
  content    : '\f075';
  font-weight: 900;
}

.icon-chat:before {
  content    : '\f086';
  font-weight: 900;
}

.icon-bell:before {
  content    : '\f0f3';
  font-weight: 900;
}

.icon-bell-off:before {
  content    : '\f1f6';
  font-weight: 900;
}

.icon-attention:before {
  content    : '\f071';
  font-weight: 900;
}

.icon-alert:before {
  content    : '\f071';
  font-weight: 900;
}

.icon-vcard:before {
  content    : '\f2c2';
  font-weight: 900;
}

.icon-address:before {
  content    : '\f2b9';
  font-weight: 900;
}

.icon-location:before {
  content    : '\f041';
  font-weight: 900;
}

.icon-map:before {
  content    : '\f279';
  font-weight: 900;
}

.icon-direction:before {
  content    : '\f124';
  font-weight: 900;
}

.icon-compass:before {
  content    : '\f14e';
  font-weight: 900;
}
// .icon-cup:before { content: "\2615"; font-weight: 900; }

.icon-trash:before {
  content    : '\f1f8';
  font-weight: 900;
}

.icon-copy:before {
  content    : '\f0c5';
  font-weight: 900;
}

.icon-paste:before {
  content    : '\f0ea';
  font-weight: 900;
}

.icon-clone:before {
  content    : '\f24d';
  font-weight: 900;
}

.icon-undo:before {
  content    : '\f2ea';
  font-weight: 900;
}

.icon-redo:before {
  content    : '\f2f9';
  font-weight: 900;
}

.icon-indent:before {
  content    : '\f03c';
  font-weight: 900;
}

.icon-outdent:before {
  content    : '\f03b';
  font-weight: 900;
}

.icon-replace:before {
  content    : '\f362';
  font-weight: 900;
}

.icon-gotoline:before {
  content    : '\f35d';
  font-weight: 900;
}
// .icon-doc-landscape:before { content: "\e737"; font-weight: 900; }

.icon-desktop:before {
  content    : '\f108';
  font-weight: 900;
}

.icon-mobile:before {
  content    : '\f3cd';
  font-weight: 900;
}

.icon-server:before {
  content    : '\f233';
  font-weight: 900;
}
// .icon-doc-text:before { content: "\1f4c4"; font-weight: 900; }
// .icon-doc-text-inv:before { content: "\e731"; font-weight: 900; }

.icon-newspaper:before {
  content    : '\f1ea';
  font-weight: 900;
}

.icon-book:before {
  content    : '\f02d';
  font-weight: 900;
}

.icon-book-open:before {
  content    : '\f518';
  font-weight: 900;
}

.icon-folder:before {
  content    : '\f07b';
  font-weight: 900;
}

.icon-folder-open:before {
  content    : '\f07c';
  font-weight: 900;
}

.icon-archive:before {
  content    : '\f187';
  font-weight: 900;
}

.icon-box:before {
  content    : '\f466';
  font-weight: 900;
}

.icon-box-open:before {
  content    : '\f49e';
  font-weight: 900;
}

.icon-boxes:before {
  content    : '\f468';
  font-weight: 900;
}

.icon-rss:before {
  content    : '\f09e';
  font-weight: 900;
}

.icon-phone:before {
  content    : '\f879';
  font-weight: 900;
}

.icon-cog:before {
  content    : '\f013';
  font-weight: 900;
}

.icon-cogs:before {
  content    : '\f085';
  font-weight: 900;
}

.icon-tools:before {
  content    : '\f7d9';
  font-weight: 900;
}

.icon-toolbox:before {
  content    : '\f552';
  font-weight: 900;
}

.icon-share:before {
  content    : '\f1e0';
  font-weight: 900;
}

.icon-market:before {
  content    : '\f54e';
  font-weight: 900;
}
// .icon-shareable:before { content: "\e73e"; font-weight: 900; }

.icon-sync:before {
  content    : '\f2f1';
  font-weight: 900;
}

.icon-cart:before {
  content    : '\f07a';
  font-weight: 900;
}

.icon-basket:before {
  content    : '\f291';
  font-weight: 900;
}

.icon-bag:before {
  content    : '\f290';
  font-weight: 900;
}

.icon-calendar:before {
  content    : '\f073';
  font-weight: 900;
}

.icon-login:before {
  content    : '\f2f6';
  font-weight: 900;
}

.icon-logout:before {
  content    : '\f2f5';
  font-weight: 900;
}

.icon-mic:before {
  content    : '\f130';
  font-weight: 900;
}

.icon-mic-mute:before {
  content    : '\f131';
  font-weight: 900;
}

.icon-volume:before {
  content    : '\f026';
  font-weight: 900;
}

.icon-volume-up:before {
  content    : '\f028';
  font-weight: 900;
}

.icon-volume-down:before {
  content    : '\f027';
  font-weight: 900;
}

.icon-volume-mute:before {
  content    : '\f6a9';
  font-weight: 900;
}

.icon-clock:before {
  content    : '\f017';
  font-weight: 900;
}

.icon-hourglass:before {
  content    : '\f254';
  font-weight: 900;
}

.icon-lamp:before {
  content    : '\f0eb';
  font-weight: 900;
}

.icon-light-down:before {
  content    : '\f186';
  font-weight: 900;
}

.icon-light-up:before {
  content    : '\f185';
  font-weight: 900;
}

.icon-adjust:before {
  content    : '\f042';
  font-weight: 900;
}

.icon-block:before {
  content    : '\f05e';
  font-weight: 900;
}

.icon-resize-full:before {
  content    : '\f065';
  font-weight: 900;
}

.icon-resize-small:before {
  content    : '\f066';
  font-weight: 900;
}

.icon-popup:before {
  content    : '\f2d2';
  font-weight: 900;
}
// .icon-publish:before { content: "\e74d"; font-weight: 900; }

.icon-window:before {
  content    : '\f2d0';
  font-weight: 900;
}

.icon-arrows-vertical:before {
  content    : '\f338';
  font-weight: 900;
}

.icon-arrows-horizontal:before {
  content    : '\f337';
  font-weight: 900;
}

.icon-arrows:before {
  content    : '\f0b2';
  font-weight: 900;
}

.icon-down-circled:before {
  content    : '\f358';
  font-weight: 900;
}

.icon-left-circled:before {
  content    : '\f359';
  font-weight: 900;
}

.icon-right-circled:before {
  content    : '\f35a';
  font-weight: 900;
}

.icon-up-circled:before {
  content    : '\f0aa';
  font-weight: 900;
}

.icon-down-open:before {
  content    : '\f078';
  font-weight: 900;
}

.icon-left-open:before {
  content    : '\f053';
  font-weight: 900;
}

.icon-right-open:before {
  content    : '\f054';
  font-weight: 900;
}

.icon-up-open:before {
  content    : '\f077';
  font-weight: 900;
}

.icon-down-open-mini:before {
  content    : '\f107';
  font-weight: 900;
}

.icon-left-open-mini:before {
  content    : '\f104';
  font-weight: 900;
}

.icon-right-open-mini:before {
  content    : '\f105';
  font-weight: 900;
}

.icon-up-open-mini:before {
  content    : '\f106';
  font-weight: 900;
}
// .icon-down-open-big:before { content: "\e764"; font-weight: 900; }
// .icon-left-open-big:before { content: "\e765"; font-weight: 900; }
// .icon-right-open-big:before { content: "\e766"; font-weight: 900; }
// .icon-up-open-big:before { content: "\e767"; font-weight: 900; }

.icon-down:before {
  content    : '\f063';
  font-weight: 900;
}

.icon-left:before {
  content    : '\f060';
  font-weight: 900;
}

.icon-right:before {
  content    : '\f061';
  font-weight: 900;
}

.icon-up:before {
  content    : '\f062';
  font-weight: 900;
}

.icon-down-dir:before {
  content    : '\f0d7';
  font-weight: 900;
}

.icon-left-dir:before {
  content    : '\f0d9';
  font-weight: 900;
}

.icon-right-dir:before {
  content    : '\f0da';
  font-weight: 900;
}

.icon-up-dir:before {
  content    : '\f0d8';
  font-weight: 900;
}
// .icon-down-bold:before { content: "\e4b0"; font-weight: 900; }
// .icon-left-bold:before { content: "\e4ad"; font-weight: 900; }
// .icon-right-bold:before { content: "\e4ae"; font-weight: 900; }
// .icon-up-bold:before { content: "\e4af"; font-weight: 900; }
// .icon-down-thin:before { content: "\2193"; font-weight: 900; }
// .icon-left-thin:before { content: "\2190"; font-weight: 900; }
// .icon-right-thin:before { content: "\2192"; font-weight: 900; }
// .icon-up-thin:before { content: "\2191"; font-weight: 900; }
// .icon-ccw:before { content: "\27f2"; font-weight: 900; }
// .icon-cw:before { content: "\f021"; font-weight: 900; }
// .icon-arrows-ccw:before { content: "\1f504"; font-weight: 900; }
// .icon-level-down:before { content: "\21b3"; font-weight: 900; }
// .icon-level-up:before { content: "\21b0"; font-weight: 900; }

.icon-shuffle:before {
  content    : '\f074';
  font-weight: 900;
}
// .icon-loop:before { content: "\1f501"; font-weight: 900; }
// .icon-switch:before { content: "\21c6"; font-weight: 900; }

.icon-play:before {
  content    : '\f04b';
  font-weight: 900;
}

.icon-stop:before {
  content    : '\f04d';
  font-weight: 900;
}

.icon-pause:before {
  content    : '\f04c';
  font-weight: 900;
}

.icon-record:before {
  content    : '\f111';
  font-weight: 900;
}

.icon-to-end:before {
  content    : '\f051';
  font-weight: 900;
}

.icon-to-start:before {
  content    : '\f048';
  font-weight: 900;
}

.icon-fast-forward:before {
  content    : '\f050';
  font-weight: 900;
}

.icon-fast-backward:before {
  content    : '\f04a';
  font-weight: 900;
}

.icon-progress-0:before {
  content    : '\e768';
  font-weight: 900;
}

.icon-progress-1:before {
  content    : '\e769';
  font-weight: 900;
}

.icon-progress-2:before {
  content    : '\e76a';
  font-weight: 900;
}

.icon-progress-3:before {
  content    : '\e76b';
  font-weight: 900;
}

.icon-target:before {
  content    : '\1f3af';
  font-weight: 900;
}

.icon-palette:before {
  content    : '\f53f';
  font-weight: 900;
}

.icon-list:before {
  content    : '\e005';
  font-weight: 900;
}

.icon-list-add:before {
  content    : '\e003';
  font-weight: 900;
}

.icon-signal:before {
  content    : '\1f4f6';
  font-weight: 900;
}

.icon-trophy:before {
  content    : '\1f3c6';
  font-weight: 900;
}

.icon-battery:before {
  content    : '\1f50b';
  font-weight: 900;
}

.icon-back-in-time:before {
  content    : '\e771';
  font-weight: 900;
}

.icon-monitor:before {
  content    : '\1f4bb';
  font-weight: 900;
}

.icon-mobile:before {
  content    : '\1f4f1';
  font-weight: 900;
}

.icon-network:before {
  content    : '\e776';
  font-weight: 900;
}

.icon-cd:before {
  content    : '\1f4bf';
  font-weight: 900;
}

.icon-inbox:before {
  content    : '\e777';
  font-weight: 900;
}

.icon-install:before {
  content    : '\f0c7';
  font-weight: 900;
}

.icon-globe:before {
  content    : '\1f30e';
  font-weight: 900;
}

.icon-cloud:before {
  content    : '\2601';
  font-weight: 900;
}

.icon-cloud-thunder:before {
  content    : '\26c8';
  font-weight: 900;
}

.icon-flash:before {
  content    : '\26a1';
  font-weight: 900;
}

.icon-moon:before {
  content    : '\263d';
  font-weight: 900;
}

.icon-flight:before {
  content    : '\2708';
  font-weight: 900;
}

.icon-paper-plane:before {
  content    : '\e79b';
  font-weight: 900;
}

.icon-leaf:before {
  content    : '\1f342';
  font-weight: 900;
}

.icon-lifebuoy:before {
  content    : '\e788';
  font-weight: 900;
}

.icon-mouse:before {
  content    : '\e789';
  font-weight: 900;
}

.icon-briefcase:before {
  content    : '\1f4bc';
  font-weight: 900;
}

.icon-suitcase:before {
  content    : '\e78e';
  font-weight: 900;
}

.icon-dot:before {
  content    : '\e78b';
  font-weight: 900;
}

.icon-dot-2:before {
  content    : '\e78c';
  font-weight: 900;
}

.icon-dot-3:before {
  content    : '\e78d';
  font-weight: 900;
}

.icon-brush:before {
  content    : '\f1fc';
  font-weight: 900;
}

.icon-magnet:before {
  content    : '\f076';
  font-weight: 900;
}

.icon-infinity:before {
  content    : '\f534';
  font-weight: 900;
}

.icon-erase:before {
  content    : '\232b';
  font-weight: 900;
}

.icon-chart-pie:before {
  content    : '\e751';
  font-weight: 900;
}

.icon-chart-line:before {
  content    : '\1f4c8';
  font-weight: 900;
}

.icon-chart-bar:before {
  content    : '\1f4ca';
  font-weight: 900;
}

.icon-chart-area:before {
  content    : '\1f53e';
  font-weight: 900;
}

.icon-tape:before {
  content    : '\2707';
  font-weight: 900;
}

.icon-graduation-cap:before {
  content    : '\1f393';
  font-weight: 900;
}

.icon-language:before {
  content    : '\f1ab';
  font-weight: 900;
}

.icon-ticket:before {
  content    : '\1f3ab';
  font-weight: 900;
}

.icon-water:before {
  content    : '\1f4a6';
  font-weight: 900;
}

.icon-droplet:before {
  content    : '\1f4a7';
  font-weight: 900;
}

.icon-air:before {
  content    : '\e753';
  font-weight: 900;
}

.icon-credit-card:before {
  content    : '\1f4b3';
  font-weight: 900;
}

.icon-floppy:before {
  content    : '\1f4be';
  font-weight: 900;
}

.icon-clipboard:before {
  content    : '\1f4cb';
  font-weight: 900;
}

.icon-megaphone:before {
  content    : '\1f4e3';
  font-weight: 900;
}

.icon-database:before {
  content    : '\e754';
  font-weight: 900;
}

.icon-drive:before {
  content    : '\e755';
  font-weight: 900;
}

.icon-bucket:before {
  content    : '\e756';
  font-weight: 900;
}

.icon-thermometer:before {
  content    : '\e757';
  font-weight: 900;
}

.icon-flow-cascade:before {
  content    : '\e790';
  font-weight: 900;
}

.icon-flow-branch:before {
  content    : '\f126';
  font-weight: 900;
}

.icon-flow-tree:before {
  content    : '\e792';
  font-weight: 900;
}

.icon-flow-line:before {
  content    : '\e793';
  font-weight: 900;
}

.icon-flow-parallel:before {
  content    : '\e794';
  font-weight: 900;
}

.icon-rocket:before {
  content    : '\1f680';
  font-weight: 900;
}

.icon-gauge:before {
  content    : '\e7a2';
  font-weight: 900;
}

.icon-traffic-cone:before {
  content    : '\e7a3';
  font-weight: 900;
}

.icon-cc:before {
  content    : '\e7a5';
  font-weight: 900;
}

.icon-cc-by:before {
  content    : '\e7a6';
  font-weight: 900;
}

.icon-cc-nc:before {
  content    : '\e7a7';
  font-weight: 900;
}

.icon-cc-nc-eu:before {
  content    : '\e7a8';
  font-weight: 900;
}

.icon-cc-nc-jp:before {
  content    : '\e7a9';
  font-weight: 900;
}

.icon-cc-sa:before {
  content    : '\e7aa';
  font-weight: 900;
}

.icon-cc-nd:before {
  content    : '\e7ab';
  font-weight: 900;
}

.icon-cc-pd:before {
  content    : '\e7ac';
  font-weight: 900;
}

.icon-cc-zero:before {
  content    : '\e7ad';
  font-weight: 900;
}

.icon-cc-share:before {
  content    : '\e7ae';
  font-weight: 900;
}

.icon-cc-remix:before {
  content    : '\e7af';
  font-weight: 900;
}

.icon-git:before {
	content: '\f1d2';
	font-weight: 400;
}

.icon-github-square:before {
  content    : '\f092';
  font-weight: 400;
}

.icon-github-circled:before {
  content    : '\f09b';
  font-weight: 400;
}

.icon-flickr:before {
  content    : '\f303';
  font-weight: 900;
}

.icon-flickr-circled:before {
  content    : '\f304';
  font-weight: 900;
}

.icon-vimeo:before {
  content    : '\f306';
  font-weight: 900;
}

.icon-vimeo-circled:before {
  content    : '\f307';
  font-weight: 900;
}

.icon-twitter:before {
  content    : '\f309';
  font-weight: 900;
}

.icon-twitter-circled:before {
  content    : '\f30a';
  font-weight: 900;
}

.icon-facebook:before {
  content    : '\f30c';
  font-weight: 900;
}

.icon-facebook-circled:before {
  content    : '\f30d';
  font-weight: 900;
}

.icon-facebook-squared:before {
  content    : '\f30e';
  font-weight: 900;
}

.icon-gplus:before {
  content    : '\f30f';
  font-weight: 900;
}

.icon-gplus-circled:before {
  content    : '\f310';
  font-weight: 900;
}

.icon-pinterest:before {
  content    : '\f312';
  font-weight: 900;
}

.icon-pinterest-circled:before {
  content    : '\f313';
  font-weight: 900;
}

.icon-tumblr:before {
  content    : '\f315';
  font-weight: 900;
}

.icon-tumblr-circled:before {
  content    : '\f316';
  font-weight: 900;
}

.icon-linkedin:before {
  content    : '\f318';
  font-weight: 900;
}

.icon-linkedin-circled:before {
  content    : '\f319';
  font-weight: 900;
}

.icon-dribbble:before {
  content    : '\f31b';
  font-weight: 900;
}

.icon-dribbble-circled:before {
  content    : '\f31c';
  font-weight: 900;
}

.icon-stumbleupon:before {
  content    : '\f31e';
  font-weight: 900;
}

.icon-stumbleupon-circled:before {
  content    : '\f31f';
  font-weight: 900;
}

.icon-lastfm:before {
  content    : '\f321';
  font-weight: 900;
}

.icon-lastfm-circled:before {
  content    : '\f322';
  font-weight: 900;
}

.icon-rdio:before {
  content    : '\f324';
  font-weight: 900;
}

.icon-rdio-circled:before {
  content    : '\f325';
  font-weight: 900;
}

.icon-spotify:before {
  content    : '\f327';
  font-weight: 900;
}

.icon-spotify-circled:before {
  content    : '\f328';
  font-weight: 900;
}

.icon-qq:before {
  content    : '\f32a';
  font-weight: 900;
}

.icon-instagrem:before {
  content    : '\f32d';
  font-weight: 900;
}

.icon-dropbox:before {
  content    : '\f330';
  font-weight: 900;
}

.icon-evernote:before {
  content    : '\f333';
  font-weight: 900;
}

.icon-flattr:before {
  content    : '\f336';
  font-weight: 900;
}

.icon-skype:before {
  content    : '\f339';
  font-weight: 900;
}

.icon-skype-circled:before {
  content    : '\f33a';
  font-weight: 900;
}

.icon-renren:before {
  content    : '\f33c';
  font-weight: 900;
}

.icon-sina-weibo:before {
  content    : '\f33f';
  font-weight: 900;
}

.icon-paypal:before {
  content    : '\f342';
  font-weight: 900;
}

.icon-picasa:before {
  content    : '\f345';
  font-weight: 900;
}

.icon-soundcloud:before {
  content    : '\f348';
  font-weight: 900;
}

.icon-mixi:before {
  content    : '\f34b';
  font-weight: 900;
}

.icon-behance:before {
  content    : '\f34e';
  font-weight: 900;
}

.icon-google-circles:before {
  content    : '\f351';
  font-weight: 900;
}

.icon-vkontakte:before {
  content    : '\f354';
  font-weight: 900;
}

.icon-smashing:before {
  content    : '\f357';
  font-weight: 900;
}

.icon-sweden:before {
  content    : '\f601';
  font-weight: 900;
}

.icon-db-shape:before {
  content    : '\f600';
  font-weight: 900;
}

.icon-logo-db:before {
  content    : '\f603';
  font-weight: 900;
}