/*Copyright @ccvca 2013*/

#FileExtTextModeDiv{
	height: 300px;
	width: 100%;
}

#FileExtTextModeDiv table{
	overflow-y: scroll;
	display: block;
	height: 280px;
	margin-top: 5px;
}

#FileExtTextModeDiv thead th{
	vertical-align: middle;
}

#FileExtTextModeDiv input{
	display: inline;
}

#FileExtTextModeDiv input.FileExtension{
	/*width: 80px;*/
}

#FileExtTextModeDiv input.textMode{
	/*width: 120px;*/
}