/* Current Files */
    
#active-files {
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 15px;
    overflow: scroll;
    border-top: 2px solid #787878;
}
#active-files a {
    display: block;
    padding: 5px 30px 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    line-height: 150%;
    font-size: 12px;
    word-break: break-all;
    background-color: #262626;
    height: 27px;
    overflow: hidden;
}
#active-files a:hover, #active-files a.active {
    background-color: #474747;
}
#active-files a.changed {
    border: 3px solid #3ba628;
    border-top: 0;
    border-bottom: 0;
}
#active-files div {
    white-space: nowrap;
    direction: rtl;
    overflow: hidden;
}
#active-files a span {
    display: block;
    float: right;
    margin: 1px -23px 0 -15px;
    padding: 1px 4px 2px 4px;
    color: transparent;
    background: none;
    border-radius: 5px;
    line-height: 100%;
}
#active-files a span:after {
    content: 'x';
}
#active-files a:hover span {
    background: #1a1a1a;
    color: #616161;
}
#active-files a:hover span:hover {
    color: #fff;
    background-color: #000;
}
.active-sort-placeholder {
    border: 1px dashed #333;
    border-radius: 5px;
}
