/* Current Files */

#tab-list {
    list-style-type: none;
    overflow: hidden;
    height: 33px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
 
#tab-list li {
    margin-top: 7px;
    height: 60px;
    width: 200px;
    position: relative;
    float: left;
    border-top-right-radius: 20px 60px;
    border-top-left-radius: 20px 60px;
    margin-left: -15px;
    padding-left: 20px;
    z-index: 1;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .9);
}
 
#tab-list li:first-child {
    margin-left: 0;
}
 
#tab-list .active {
    z-index: 3;
} 

#tab-list li a.label {
    display: block;
    float: left;
    width: 140px;
    line-height: 25px;
    padding-top: 1px;
    color: #919191;
    overflow: hidden;
    text-decoration: none;
    direction: rtl;
}

#tab-list li.changed {
    /*font-weight: bold;*/
    border-top: 2px solid #3BA628;
}

#tab-list li a.close {
    display: block;
    float: right;
    margin: 6px 17px 0 0;
    padding: 1px 5px 2px 4px;
    color: #616161;
    background: #1a1a1a;
    border-radius: 5px;
    line-height: 100%;
}

#tab-list li a.close:hover {
    color: #fff;
    background-color: #000;
}

.bar {
    z-index: 2;
    position: relative;
    height: 10px;
    width: 100%;
    background: #202020;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .9);
}

/* Clear Fix took from HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
Theme For Tabs
Gradients Generated by: http://www.colorzilla.com/gradient-editor/
*/
#tab-list li {
    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top, #2d2d2d 0%, #141414 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#141414)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2d2d2d 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2d2d2d 0%,#141414 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d2d2d 0%,#141414 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2d2d2d 0%,#141414 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}
 
#tab-list li.active{
    background: #474747; /* Old browsers */
    background: -moz-linear-gradient(top, #474747 0%, #141414 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(100%,#141414)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #474747 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #474747 0%,#141414 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #474747 0%,#141414 100%); /* IE10+ */
    background: linear-gradient(to bottom, #474747 0%,#141414 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}

#tab-dropdown {
    /* Adjust this size depending on the final editor-top-bar height. */
    position: fixed;
    top: 9px;
    right: 25px;
    height: 35px;
}

#tab-dropdown-button {
    font-size: 24px;
    color: #666;
}

#tab-dropdown-button:hover {
    color: #fff;
}

#tab-dropdown-menu {
    position: absolute;
    z-index: 9999;
    background-color: #2E2E2E;
    border: 3px solid #666666;
    display: none;
    border-radius: 2px;
    padding: 0 5px;
}

#tab-dropdown-menu a {
    display: block;
    padding: 5px 30px 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    line-height: 150%;
    font-size: 12px;
    word-break: break-all;
    background-color: #262626;
    height: 27px;
    overflow: hidden;
}
#tab-dropdown-menu a:hover, #tab-dropdown-menu a.active {
    background-color: #474747;
}
#tab-dropdown-menu li.changed a {
    border: 3px solid #3ba628;
    border-top: 0;
    border-bottom: 0;
}
#tab-dropdown-menu div {
    white-space: nowrap;
    direction: rtl;
    overflow: hidden;
}
#tab-dropdown-menu a span {
    display: block;
    float: right;
    margin: 1px -23px 0 -15px;
    padding: 1px 4px 2px 4px;
    color: transparent;
    background: none;
    border-radius: 5px;
    line-height: 100%;
}
#tab-dropdown-menu a span:after {
    content: 'x';
}
#tab-dropdown-menu a:hover span {
    background: #1a1a1a;
    color: #616161;
}
#tab-dropdown-menu a:hover span:hover {
    color: #fff;
    background-color: #000;
}   
