/* Autocomplete */

#autocomplete {
    display: none;
    position: absolute;
    width: 150px;
    max-height: 200px;
    background-color: #2E2E2E;
    border: 3px solid #666666;
    padding: 3px;
    z-index: 1;
    overflow: auto;
}

.active-suggestion {
    /* Hey this is just for testing ;-) */
    color: red;
}
