<div class="git_new_remote_area">
    <div class="content">
        <label>New remote</label>
        <input type="text" id="remote_name" placeholder="Remote name">
        <input type="text" id="remote_url" placeholder="Remote url">
    </div>
    <footer>
        <button onclick="codiad.CodeGit.showDialog('remote', codiad.CodeGit.location); return false;">Close</button>
        <button onclick="codiad.CodeGit.newRemote(codiad.CodeGit.location); return false;">New remote</button>
    </footer>
</div>