<div class="git_rename_branch_area">
    <div class="content">
        <label>Rename <span id="git_branch"></span></label>
        <input type="text" id="git_new_name" placeholder="New name">
    </div>
    <footer>
        <button onclick="codiad.CodeGit.renameBranch(); return false;">Rename</button>
        <button onclick="codiad.CodeGit.showDialog('overview', codiad.CodeGit.location); return false;">Close</button>
    </footer>
    <script>
        $('#git_new_name').focus();
        $('#git_branch').text(codiad.CodeGit.name);
    </script>
</div>