/* EXTENSIONS */
#file-manager .ext-htaccess {
    background-image: url(images/svg/high-contrast/conf.svg);
}
#file-manager .ext-conf {
    background-image: url(images/svg/high-contrast/conf.svg);
}
#file-manager .ext-ini {
    background-image: url(images/svg/high-contrast/ini.svg);
}
#file-manager .ext-3gp {
    background-image: url(images/svg/high-contrast/3gp.svg);
}
#file-manager .ext-afp {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-afpa {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-asp {
    background-image: url(images/svg/high-contrast/asp.svg);
}
#file-manager .ext-aspx {
    background-image: url(images/svg/high-contrast/aspx.svg);
}
#file-manager .ext-avi {
    background-image: url(images/svg/high-contrast/avi.svg);
}
#file-manager .ext-bat {
    background-image: url(images/svg/high-contrast/bat.svg);
}
#file-manager .ext-bmp {
    background-image: url(images/svg/high-contrast/bmp.svg);
}
#file-manager .ext-c {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-cfm {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-cgi {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-com {
    background-image: url(images/svg/high-contrast/exe.svg);
}
#file-manager .ext-cpp {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-css {
    background-image: url(images/svg/high-contrast/css.svg);
}
#file-manager .ext-doc {
    background-image: url(images/svg/high-contrast/doc.svg);
}
#file-manager .ext-exe {
    background-image: url(images/svg/high-contrast/exe.svg);
}
#file-manager .ext-gif {
    background-image: url(images/svg/high-contrast/gif.svg);
}
#file-manager .ext-fla {
    background-image: url(images/svg/high-contrast/flash.svg);
}
#file-manager .ext-h {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-htm {
    background-image: url(images/svg/high-contrast/html.svg);
}
#file-manager .ext-html {
    background-image: url(images/svg/high-contrast/html.svg);
}
#file-manager .ext-ico {
    background-image: url(images/svg/square-o/ico.svg);
}
#file-manager .ext-jar {
    background-image: url(images/svg/high-contrast/java.svg);
}
#file-manager .ext-jpg {
    background-image: url(images/svg/square-o/jpg.svg);
}
#file-manager .ext-jpeg {
    background-image: url(images/svg/square-o/jpeg.svg);
}
#file-manager .ext-js {
    background-image: url(images/svg/high-contrast/jsx.svg);
}
#file-manager .ext-json {
    background-image: url(images/svg/high-contrast/json.svg);
}
#file-manager .ext-lasso {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-less {
    background-image: url(images/svg/high-contrast/less.svg);
}
#file-manager .ext-log {
    background-image: url(images/svg/high-contrast/txt.svg);
}
#file-manager .ext-map {
    background-image: url(images/svg/square-o/map.svg);
}
#file-manager .ext-md {
    background-image: url(images/svg/high-contrast/md.svg);
}
#file-manager .ext-mov {
    background-image: url(images/svg/high-contrast/mov.svg);
}
#file-manager .ext-mp3 {
    background-image: url(images/svg/high-contrast/mp3.svg);
}
#file-manager .ext-mp4 {
    background-image: url(images/svg/high-contrast/mp4.svg);
}
#file-manager .ext-mpg {
    background-image: url(images/svg/high-contrast/mpg.svg);
}
#file-manager .ext-mpeg {
    background-image: url(images/svg/high-contrast/mpeg.svg);
}
#file-manager .ext-ogg {
    background-image: url(images/svg/high-contrast/ogg.svg);
}
#file-manager .ext-pcx {
    background-image: url(images/svg/high-contrast/png.svg);
}
#file-manager .ext-pdf {
    background-image: url(images/svg/high-contrast/pdf.svg);
}
#file-manager .ext-php {
    background-image: url(images/svg/square-o/php.svg);
}
#file-manager .ext-png {
    background-image: url(images/svg/square-o/png.svg);
}
#file-manager .ext-ppt {
    background-image: url(images/svg/high-contrast/ppt.svg);
}
#file-manager .ext-psd {
    background-image: url(images/svg/high-contrast/psd.svg);
}
#file-manager .ext-pl {
    background-image: url(images/svg/high-contrast/pl.svg);
}
#file-manager .ext-py {
    background-image: url(images/svg/high-contrast/py.svg);
}
#file-manager .ext-rb {
    background-image: url(images/svg/high-contrast/ruby.svg);
}
#file-manager .ext-rbx {
    background-image: url(images/svg/high-contrast/ruby.svg);
}
#file-manager .ext-rhtml {
    background-image: url(images/svg/high-contrast/ruby.svg);
}
#file-manager .ext-rpm {
    background-image: url(images/svg/high-contrast/linux.svg);
}
#file-manager .ext-ruby {
    background-image: url(images/svg/high-contrast/ruby.svg);
}
#file-manager .ext-sass {
    background-image: url(images/svg/square-o/sass.svg);
}
#file-manager .ext-scss {
    background-image: url(images/svg/square-o/scss.svg);
}
#file-manager .ext-sh {
    background-image: url(images/svg/high-contrast/bat.svg);
}
#file-manager .ext-sql {
    background-image: url(images/svg/high-contrast/db.svg);
}
#file-manager .ext-svg {
    background-image: url(images/svg/square-o/svg.svg);
}
#file-manager .ext-swf {
    background-image: url(images/svg/high-contrast/flash.svg);
}
#file-manager .ext-tif {
    background-image: url(images/svg/high-contrast/picture.svg);
}
#file-manager .ext-tiff {
    background-image: url(images/svg/high-contrast/picture.svg);
}
#file-manager .ext-txt {
    background-image: url(images/svg/high-contrast/txt.svg);
}
#file-manager .ext-vb {
    background-image: url(images/svg/high-contrast/codekit3.svg);
}
#file-manager .ext-wav {
    background-image: url(images/svg/high-contrast/wav.svg);
}
#file-manager .ext-wmv {
    background-image: url(images/svg/high-contrast/film.svg);
}
#file-manager .ext-woff {
    background-image: url(images/svg/square-o/woff.svg);
}
#file-manager .ext-xls {
    background-image: url(images/svg/high-contrast/xls.svg);
}
#file-manager .ext-xml {
    background-image: url(images/svg/high-contrast/xml.svg);
}
#file-manager .ext-zip {
    background-image: url(images/svg/high-contrast/zip.svg);
}

#file-manager .loading {
    background-image: url(images/default/loading.gif);
}
